body {
    font-family: Arial, sans-serif;
    background: #111;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    margin: 20px 0 5px;
    color: #00ff88;
}

#ultimaAtualizacao {
    font-size: 14px;
    color: #bbb;
    margin-bottom: 20px;
}

.filtros {
    margin-bottom: 20px;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px auto;
    max-width: 1000px;
}

.card {
    background: #222;
    border-radius: 8px;
    padding: 20px;
    width: 180px;
    margin: 10px;
    box-shadow: 0 0 10px #00ff88;
    font-weight: bold;
    font-size: 18px;
}

.graficos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 30px auto;
}

.grafico-container {
    background: #222;
    padding: 10px;
    border-radius: 8px;
}

.tabelas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

.tabela-container {
    background: #222;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #00ff88;
    margin: 10px;
    width: 30%;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
    color: #fff;
}

th, td {
    border: 1px solid #00ff88;
    padding: 8px;
    text-align: center;
}

th {
    background: #111;
    color: #00ff88;
}
